rich
requests
playwright
playwright-stealth
beautifulsoup4
selenium
webdriver-manager
playwright-stealth
python-dotenv
tqdm
langchain
langchain-openai
langchain-community
langchain-core
langchain-google-genai
python-dotenv
tqdm
langchain
langchain-openai
langchain-community
langchain-core
langchain-google-genai
playwright
playwright-stealth
beautifulsoup4